<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Test Message</h1>
    <p>
      You have successfully sent a test message
    </p>
    <p>Thanks for testing, and have a great day!</p>
  </body>
</html>