<%= link_to "Home", root_path, :class => 'brand' %>
<ul class="nav">
  <li><a href="mailto:jlake.jobs@gmail.com">Contact me</a></li>
  <li><a href="http:///#">My CV</a></li>
  <li><a href="http://github.com/polymatter">Other code projects</a></li>
</ul>